body {
    background: linear-gradient(to right, #6dd5fa, #ffffff);
     font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}

h1 {
    color: #1a73e8;
    text-shadow: 1px 1px 2px #ccc;
}

#weatherResult {
    display: inline-block;
    background: #ffffff;
    border: 2px solid #1a73e8;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px 16px;
}

input {
    padding: 8px;
    margin: 5px;
    width: 140px;
}

button {
    background-color: #094da6;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
}

button:hover {
    background-color: #155cb0;
}